html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#info-box {
    background-color: white;
    border: 1px solid black;
    bottom: 30px;
    height: 20px;
    padding: 10px;
    position: absolute;
    left: 30px;
}

#legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
}

#legend h3 {
    margin-top: 0;
}

#legend img {
    vertical-align: middle;
    display: inline;
}

.legend-item {

}

.legend-item p{
    display: inline;
    color: rgb(51, 51, 51);
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    fill: rgb(51, 51, 51);
}